{% extends 'org-base.html' %}
{% load staticfiles %}
{% block custom_title %}机构介绍{% endblock %}
{% block page_path %}机构介绍{% endblock %}
{% block right_form %}
    <div class="right companycenter layout" >
        <div class="head">
            <h1>机构介绍</h1>
        </div>
        <div class="des">

            <div class="cont">&nbsp; &nbsp; <p>&nbsp; &nbsp;</p><h1 class="ue_t" label="Title center" name="tc" style="border-bottom-color:#cccccc;border-bottom-width:2px;border-bottom-style:solid;padding:0px 4px 0px 0px;text-align:center;margin:0px 0px 20px;"><span style="color:#c0504d;">{{ course_org.name }}</span></h1><p class="ue_t" style="text-indent:2em;">{{ course_org.desc }}</p><a href="/company/desc/22/"><span class="green">[查看更多]</span></a></div>

        </div>
    </div>
{% endblock %}
